{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="pt-4">
        <h1>Client</h1>
        <div class="mb-2">
            <a href="{{ path('app_client_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
            <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-outline-secondary">Modifier</a>
            {{ include('client/_delete_form.html.twig') }}
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <td>{{ client.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ client.name }}</td>
                        </tr>
                        <tr>
                            <th>Date de création</th>
                            <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date de modification</th>
                            <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
