{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.startDate) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.endDate) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-dark">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
